
body {
  background-color:darkgray;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

header {
  margin: 20px 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
}

h2 {
  font-size: 33px;
  color: whitesmoke;
}

.lyrics {
  margin: 40px 0;
}

p {
  
  font-family: 'fantasy';
  color:darkred;
  font-size: 20px;
  line-height: 1.5;
}